{% extends "admin_ui/base.html" %}

{% block title %}System Configuration - Django API Hub{% endblock %}

{% block header %}System Configuration{% endblock %}

{% block header_actions %}
<a href="{% url 'admin_ui:system_config_create' %}" class="btn-primary">Add Configuration</a>
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="table">
        <thead class="table-header">
            <tr>
                <th class="table-header-cell">Key</th>
                <th class="table-header-cell">Value</th>
                <th class="table-header-cell">Description</th>
                <th class="table-header-cell">Last Updated</th>
                <th class="table-header-cell">Actions</th> {# Added Actions header #}
            </tr>
        </thead>
        <tbody class="table-body">
            {% for config in configs %}
            <tr class="table-row">
                <td class="table-cell font-medium text-gray-900">{{ config.key }}</td>
                <td class="table-cell">
                    <pre class="text-xs bg-gray-100 p-2 rounded">{{ config.value|pprint }}</pre> {# Assuming you have a pprint template filter #}
                </td>
                <td class="table-cell">{{ config.description }}</td>
                <td class="table-cell">{{ config.updated_at|date:"M d, Y H:i" }}</td>
                <td class="table-cell"> {# Added Actions cell #}
                    <a href="{% url 'admin_ui:system_config_edit' config.id %}" class="text-blue-600 hover:text-blue-900">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="px-6 py-4 text-center text-gray-500">No system configurations found</td> {# Updated colspan #}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
